<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Woops! We're really sorry, but we cant find anything to show you at this address.</p>
            <p>Try returning to <a href="/">home.</a></p>
        </LayoutView>
    </NotFound>
</Router>
